.navbar{
  background: rgb(100, 100, 100);
}

.navbar ul{
  padding: 0px 150px;
}

.navbar ul a{
  color: white;
}

.navbar span{
  color:white;
  padding-right: 150px;
}

.sidebar{
  /* background-color: black !important; */
}