<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>
    <% for(let i of user){ %>
        <details>
            <summary>User Id:- <%= i._id %> </summary>
        <ul>
            <li><%= i.name %></li>
            <li><%= i.email %></li>
            <li><%= i.course %></li>
        </ul>
    </details><br>
        <% } %>
    
</body>
</html>